{{ define "main" }}


<div class="parent-container">
<div class="container">
	<header></header>
	<main>
		<p><a href="{{.Site.BaseURL}}/blog">Blog</a> | <a href="{{.Site.BaseURL}}">Home</a></p>
		<hr>
		<article>
		  <h1>{{ .Title }}</h1>
		  <h6>{{ .Date.Format "Mon, Jan 2, 2006" }}</h6>
		  {{ .Content }}
	  </article>

{{if and .Site.Params.UseDisqus (not .Params.removecomments) }}
<div id="disqus_thread"></div>
<script type="text/javascript">

(function() {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...



    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>

<div class="disqus">
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com/" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{{ end }}
	</main>
	<footer></footer>
</div>
</div>


  <link rel="stylesheet" href="/css/hst.css" type="text/css" media="screen,projection"/>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

{{ end }}
