/* @import url(http://fonts.googleapis.com/css?family=Lato); */

/* SantizeCSS Min */
progress,sub,sup{vertical-align:baseline}button,hr,input{overflow:visible}[type=checkbox],[type=radio],legend{padding:0}[aria-disabled],html{cursor:default} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0} [hidden],template{display:none}*,::after,::before{background-repeat:no-repeat;box-sizing:inherit}::after,::before{text-decoration:inherit;vertical-align:inherit}html{box-sizing:border-box;font-family:sans-serif;line-height:1.5;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}small,sub,sup{font-size:83.3333%}hr{height:0}nav ol,nav ul{list-style:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}audio,canvas,iframe,img,svg,video{vertical-align:middle}img{border-style:none}svg{fill:currentColor}svg:not(:root){overflow:hidden}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{outline-width:0}table{border-collapse:collapse;border-spacing:0}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit;font-size:1em;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{display:table;max-width:100%;white-space:normal}textarea{overflow:auto;resize:vertical}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-cancel-button,::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[tabindex],a,area,button,input,label,select,textarea{-ms-touch-action:manipulation;touch-action:manipulation}[hidden][aria-hidden=false]{clip:rect(0,0,0,0);display:inherit;position:absolute}[hidden][aria-hidden=false]:focus{clip:auto}

body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    margin: 0;
    background: #322f30;
     /* background: rgba(51,51,63,0.9); /*#ccc */
    /* background: #f7f7f7; */
    -webkit-font-smoothing: antialiased;
}

nav, header, main, footer {
  padding: 0 1.5em;
}

header {
  /* background: purple; */
}

main {
  /* background: yellow; */
  /* flex: 1 0 auto; */
  /* padding-bottom: 2em; */
}

footer {
  /* background: orange; */
}

p {
  -webkit-hyphens: auto;
  hyphens: auto;
}


a:hover {
  text-decoration: underline;
}
/* BG DIVs, Opacity Container Wrapper & Scroll Down for More */

div > h1, header > h1, div > h2, header > h2, main > h2  {
  margin: 0;
}

.parent-container {
/*   display: flex;
  justify-content: center;
  flex-flow: row nowrap; */
  /* min-height: 100vh; */
  padding: 1em calc(50% - 45em);
  margin: 0;
}

.v2 {
  min-height: 100vh;
  background: url('../images/sdesk.jpg');
  /* background-attachment: fixed; breaks on IOS :( */
  background-size: cover;

}

.v3 {
  /* background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%); /* W3C V1 */ 
  /* background: linear-gradient(to bottom, #131313 0%,#3f4c6b 100%); /* W3C V2  */ 
  background: #f7f7f7;  /* W3C V3  */  
  color: #131313;
  /* background-attachment: fixed; breaks on IOS :( */
  background-size: cover;
}

.v4 {
  /* background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%); /* W3C V1 */ 
  /* background: linear-gradient(to bottom, #131313 0%,#3f4c6b 100%); /* W3C V2  */ 
  background: red;  /* W3C V3  */  
  color: #131313;
  /* background-attachment: fixed; breaks on IOS :( */
  background-size: cover;
}


.parent-container.v3 .h1, .parent-container.v3 .h2, .parent-container.v3 .h3,.parent-container.v3 .h4, .parent-container.v3 .h5, .parent-container.v3 .h6, .parent-container.v3 a 
 {
  /* color: #131313; */
  color: #3594BA;
}


.wrapper{
/*   display: flex;
  justify-content: center;
  flex-flow: row nowrap; */
  background:rgba(159,  182,  205, 0.8);
  min-height:100vh;
}


.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid white;
  bottom: 52px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
  

 .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: white;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}


@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

  
/* Responsive Containers */



/* Social Stuff */

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

.footer-social-icons > ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 100%;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /* background-color: #322f30; */
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /* background-color: #322f30; */
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /* background-color: #322f30; */
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-gitlab, .fa-github, .fa-instagram {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /* background-color: #322f30; */
}
.fa-gitlab:hover, .fa-github:hover, .fa-instagram:hover {
    background-color: #131313;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /* background-color: #322f30; */
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /* background-color: #322f30; */
}
.fa-google-plus:hover {
    background-color: #e25714;
}

.fa-angellist {
    padding:10px 13px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /* background-color: #322f30; */
}
.fa-angellist:hover {
    background-color: #000;
}


@media all and (max-width: 40em) {
  .fa-google-plus, .fa-facebook, .fa-rss {
    display: none !important;
  }
}

/* Feature Boxes */

main {
/*   padding-top: 1.5em;
  padding-bottom: 1.5em; */
  /* background: rgba(51,51,63,0.9); /*#ccc*/

}

.hst_flex_item {
  flex-basis: 90%;
  /* background-color: f7f7f7; */
  display: flex;
  flex-flow: row wrap;
}

.hst_flex_item > div {
  /* background-color: #e3c; */
  display: flex; 
  /* padding: 0.5em; */
  width: 100%;  
}

.hst_flex_row_item_content {
   display: flex;
   flex-direction: column;
   /* background-color: #fff; */
   padding: 1em;
   width: 100%;
   align-items: center;
   /* border: 1px dashed white; */

}

.hst_flex_row_item_content p {
  /* align-items: center; */
  flex: 1 0 auto;

}

.hst_flex_item, .hst_flex_row_item_content {
  border-style: dotted;
  border-color: rgba(255,255,255,.9);
}


@media all and (max-width: 40em) {
  .hst_flex_item { border-width: 0 }
  .hst_flex_row_item_content { border-width:  0  }
  div.content {width: 100%;}
}


@media all and (min-width: 40em) {
  .hst_flex_item > div {
    width: 50%;
  }

  .hst_flex_item { border-width: 2px  0   0  2px }
  .hst_flex_row_item_content { 
    border-width:  0  2px 2px  0  
  }

  div.content {width: 100%;}


}
@media all and (min-width: 60em) {
  .hst_flex_item > div {
    width: 33.33%;
  }

  div.content {width: 100%;}

}

/* Widget Overrides */

div#drift-widget-container > iframe#drift-widget[style] {
  bottom: 40px !important;
  /* right: 30px !important; */
}

.hideCalendly {
  display: block;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait) {
  .hideCalendly {
    display: none;
  }
}

/* MENU Stuff */

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
}
.menu-opener:hover, .menu-opener.active {
  background: #f1c40f;
}

.menu-opener-inner {
  background: #fff;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: white;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}


