.hstcover {
	  /* // Used for Landing Pages */
  background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%); /* W3C */
  /* // background-image: url('/background1.jpg'); */
  background-attachment: fixed;
  background-size: cover;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}