<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.css" integrity="sha256-NhpnMp6kAUqWcsM+ZeDWW3n1JAEXaSLKGvhIU4qzu7s=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/hst.css" type="text/css" media="screen,projection"/>
</head>
<body>
	<div class="hstcover">
	<div class="content-wrapper">
		<header class="small_centered">
			<div class="hst_flex_item">
			<div>
				<h1> Nagib Tharani </h1>
				<h2> [insert title here]</h2>
				<p>(Polyglot Business Operations)</p>
				<p>Welcome. I'm an engineer by training but have worn many hats. Execution counts. Titles don't.</p>	
			</div>
			</div>
		</header>
		 <div class="mouse">
        <span></span>
    </div>
	</div>
	</div>
		<main class="small_centered">

			<div class="hst_flex_item">
			<div>
				<div class="hst_flex_row_item_content">
					<h2>International Expansion</h2>
					<p>Global expansion tailored for your business. Whether B2C, B2B or Enterprise. I have worked with inward investment teams at IDA Ireland, UKTi, Invest-HK, DFAIT &amp; AusTrade in particular. I leverage local government resources where appropriate. I have visted and worked in over 30 countries.</p>		
					<!-- <h6>Find out more</h6> -->
				</div>
			</div>

			<div>
				<div class="hst_flex_row_item_content">
					<h2>Business Development</h2>
					<p>Greenfield Sales, Channel &amp; Strategic Partnerships where no playbook or template exists. Where repeatable, I create the process before handover to a sales team, if one exists. </p>
					<!-- <h6>Footer</h6>			 -->
				</div>
			</div>

			<div>
				<div class="hst_flex_row_item_content">
					<h2>Business Operations</h2>
					<p>Company infrastructure &amp; governance for both greenfield startups to international subsidiaries. Where appropriate I engage specialist tax, legal and regulatory help. I write your v1.0 executive and employee handbooks: From departmental logistics and tooling for reporting, CRM, bookkeeping, support and everything in between) to employee guidance covering expense policies, vacation, culture and benefits. I am heavily biased towards SaaS based tools.</p>
					<!-- <h6>Footer</h6> -->
				</div>
			</div>

			<div>
				<div class="hst_flex_row_item_content">
					<h2>Product Management</h2>
					<p>From startup (primary), through venture backed companies in a product ownership role. At larger companies, I typically handle international product requirements as they apply to a given market.</p>		
					<!-- <h6>Footer</h6> -->
				</div>
			</div>

			<div>
				<div class="hst_flex_row_item_content">
					<h2>Marketing Operations</h2>
					<p>From acting as a spoke to an existing marketing operation to adapting their capabilities for international markets and helping to streamline content operations for print and web. I particularly enjoy acquainting marketing teams with the wonders of the A series of paper formats.</p>
					<!-- <h6>Footer</h6>			 -->
				</div>
			</div>

			<div>
				<div class="hst_flex_row_item_content">
					<h2>Program Management</h2>
					<p>$MM P&amp;L Responsibility. Primairily in TMT from both the vendor and operator perspectives.</p>
					<!-- <h6>Footer</h6> -->
				</div>
			</div>
			</div>
		</main>
		<footer class="small_centered">
			<div class="hst_flex_item">
				<a href="mailto:ntharani+inboundHomePage@gmail.com?subject=New%20Project%20Enquiries%20or%20Saying%20Hello!">&nbsp;Say Hello</a>
			</div>
		</footer>
</body>
</html>